<div class="container">
  <div class="row">
    <div class="col-lg-8 " id="banner">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-header">

              <h3> Greetings!</h3>
              <h5>
                I'm Micheal and
                I'm a Web
                Designer. </h5>
              <div class="">
                <p> Web Designer with innovative solutions, strong analytical skills, customer-centric approach, and
                  effective communication skills.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h6 class="educap"> Highest Educational Qualification:</h6>
            <table>

              <tr>
                <td>Bachelors Degree :</td>
              </tr>
              <tr>
                <td>Computer Science , Statistics , Mathematics</td>
              </tr>
              <tr>
                <td>Andhra Loyola College , Vijayawada</td>
              </tr>
              <tr>
                <td>2020-2023</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4>Project Name: MJN Travels</h4>
            </div>
            <div class="card-body">
              <p><b>Description: </b>MJN Travels ia tourist guide website which guides the travellers across the globe.
                It keeps you updated about latest offers and facilities in tourism and travel. Also let's its customer's
                expirence a error and terror free trip.</p>
              <b>Responsibilities</b>
              <ul>
                <li>Developed the webpages using html,css and bootstrap</li>
                <li>Created carousels and animations using JavaScript and JQuery</li>
                <li> Used API’s to create a whatsapp floating icon to chat easily</li>
                <li>Styled the images according to requirements using Canvas</li>
              </ul>


            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4>Project Name: Yuu bakery</h4>
            </div>
            <div class="card-body">
              <p><b>Description: </b>Yuu Bakery is a bakery website which is used by the
                bakers to let the people know more about the delicious goods in the
                bakery and its special offers.</p>
              <b>Responsibilities</b>
              <ul>
                <li>Developed the webpages using html,css and bootstrap</li>
                <li>Created carousels and animations using JavaScript and JQuery</li>
                <li> Used API’s to create a whatsapp floating icon to chat easily</li>
                <li>Styled the images according to requirements using Canvas</li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Social Plugins</h3>
          <a href="#" style="color: #303334;"> <span class="icons"><i class="fa fa-facebook-official"></i></span> </a>
          <a href="#" style="color: #303334;"> <span class="icons"><i class='fa fa-linkedin'></i></span></a>
          <a href="#" style="color: #303334;"> <span class="icons"><i class='fa fa-whatsapp'></i></span></a>
          <a href="#" style="color: #303334;"><span class="icons"><i class='fa fa-instagram'></i></span></a>
          <a href="#" style="color: #303334;"><span class="icons"><i class='fa fa-github'></i></span></a>
          <a href="#" style="color: #303334;"><span class="icons"><i class='fa fa-youtube'></i></span></a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Skills<i routerLink="Skills" style="color:#212529cf;float: right;font-size: 25px;" class='fa fa-plus'></i>
          </h3>
          <p>HTML &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>
          <p>CSS &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>
          <p>JAVA SCRIPT &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;</p>
          <p>JQUERY &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;</p>
          <p>BOOTSTRAP &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>

        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Referral links:</h3>
          <a href="https://angular.io/docs" class="refeerals">
            <p>Angular</p>
          </a>
          <a href="https://developer.mozilla.org/en-US/" class="refeerals">
            <p>Documentations</p>
          </a>
          <a href="https://roadmap.sh/" class="refeerals">
            <P>Roadmaps</P>
          </a>
          <a href="https://stackblitz.com/" class="refeerals">
            <p>Stackbliz</p>
          </a>
          <a href="https://github.com/" class="refeerals">
            <p>Github</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>