<div class="container">
  <div class="row">
    <div class="col-lg-8 " id="banner">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-header">
              <h1>Holla Guys!</h1>
              <h5> Greetings!
                I’m Micheal and
                I’m a Web
                Designer. </h5>
              <div class="">
                <p> Web Designer with innovative solutions, strong analytical skills, customer-centric approach, and
                  effective communication skills.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- <img src="assets/images/cardpic1.png" height="150"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3>Project Name </h3>
              <p>MJN Travels</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3>Project1 </h3>
              <p>Yuu bakery</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Social Plugins</h3>
          <a> <span class="icons"><i class="fa fa-facebook-official"></i></span> </a>
          <a> <span class="icons"><i class='fa fa-linkedin'></i></span></a>
          <a> <span class="icons"><i class='fa fa-whatsapp'></i></span></a>
          <a><span class="icons"><i class='fa fa-instagram'></i></span></a>
          <a><span class="icons"><i class='fa fa-github'></i></span></a>
          <a><span class="icons"><i class='fa fa-youtube'></i></span></a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Skills<i routerLink="Skills" style="color:#212529cf;float: right;font-size: 25px;" class='fa fa-plus'></i>
            </h3>
          <p>HTML &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>
          <p>CSS &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>
          <p>JAVA SCRIPT &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;</p>
          <p>JQUERY &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;</p>
          <p>BOOTSTRAP &nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;<i class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i
              class="fa fa-star" style="color:#212529e8"></i>&nbsp;<i class="fa fa-star"
              style="color:#212529e8"></i>&nbsp;</p>

        </div>
      </div>

    </div>
  </div>